/**
 * Uploader
 */
.upload-input {
  position: relative;
}

.upload-button {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.upload-input input[type="file"] {
  display: block;
  height: 100%;
  width: 100%;
  clip: rect(0px 0px 0px 0px);
  position: absolute;
  left: 0;
  top: 0;
}

.uploader-custom {
  cursor: pointer;
}

.uploader-custom input {
  display: none;
}
