$color-red: #FF0000;
$color-blue: #0000FF;
$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #FFFF00;
$color-wheat: wheat;

$color-life: #E8E8E8;
$color-life-info: #FCFFD8;
$color-lead: #456575;
$color-lead-info: #ECECEC;
$color-object: $color-white;
$color-object-info: #10232D;
$color-tail: $color-lead;
$color-tail-info: $color-lead-info;

$error-color: #C93800; // red-like
$info-color: #FFF34C; // yellow-like


$primary-color: #009688;
$primary-lower-color: #2AB1A4;

$second-color: #456575;
$second-lower-color: #456575;
