#root,
.mainLayout {
  height: 100%;
}

.mainLayout {
  display: flex;
  flex-direction: column;

  .main {
    color: #FFFFFF;
    flex: 1;
    display: flex;
    flex-direction: row;

    .left {
      width: 15em;
      overflow: auto;
      background-color: #21252b;
    }

    .middle {
      flex-grow: 1;
      overflow: auto;
    }

    .right {
      flex-grow: 1;
      overflow: auto;
      display: none;
    }

    .middle,
    .right {
      background-color: #282c34;
    }
  }
}
