.navigation {
  .node {
    .item {
      padding: 0.3em 0.3em 0.3em 0.6em;

      .path {
        cursor: default;
        padding: 0.1em 0.3em;
      }

      &.active {
        background: #2c313a;

        > .path {
          background: #b1b1b1;
        }
      }
    }
  }

  .node-level-0 {
    overflow: auto;
    height: 100%;

    .item {
      padding-left: 0.3em;
    }
  }
}
